<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 初始化SEO搜索 -->
    <title>【驴妈妈旅游】_景点门票_自由行_跟团游_国内游_出境游_酒店_机票</title>
    <meta name="keywords" content="自由行,景点门票,跟团游,自驾游,机票,酒店">
    <meta name="description" content="驴妈妈旅游网-中国新型的B2C旅游电子商务网站，为旅游者提供景区门票、自由行、度假酒店、机票、国内游、出境游等一站式旅游服务，轻度假，驴妈妈">  

    <!-- 初始化网站小图标 -->
    <link rel="stylesheet" href="favicon.ico">
    <!-- 初始化css文件 -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">

    <!-- 初始化js文件 -->
    <script src="js/template-web.js"></script>
    <script src="js/animation.js"></script>
    <script src="js/tools.js"></script>
    <script src="http://pv.sohu.com/cityjson"></script>
    <script src="js/index.js"></script>

    
    



    


</head>
<body>
    <div class="tool">
        <div class="tool-in">
                <ul class="tool-left fl">
                    <li><i></i><b class="city">清远</b><a href="javascript:;">[切换]</a>
                        <!-- <div>
                            <dl>
                                <dt class="fl">qwe</dt>
                                <dd class="fl"><a href="#">asd</a></dd>
                            </dl>
                        </div> -->
                    </li>
                    <li><a href="javascript:;">请登录</a></li>
                    <li>|</li>
                    <li><a href="javascript:;">免费注册</a></li>
                </ul>
                <ul class="tool-right fr">
                    <li><a href="#">我的驴妈妈<i></i></a><div>
                        <p><a href="#">Web牛逼</a></p> 
                        <p><a href="#">Web牛逼</a></p> 
                        <p><a href="#">Web牛逼</a></p> 
                        <p><a href="#">Web牛逼</a></p> 
                    </div>
                    </li>
                    <li><a href="#">品牌会员</a></li>
                    <li><a href="#">品牌会员</a></li>
                    <li><a href="#">品牌会员</a></li>
                    <li>|</li>
                    <li class="wechat"><a href="#"><i></i></a>
                        <div><img src="images/weixin.jpg" alt=""></div>
                    </li>
                    <li class="xiaochengxu"><a href="#"><i></i></a>
                        <div><img src="images/xiaochengxu.png" alt=""></div>
                    </li>
                    <li class="xinlang"><a href="#"><i></i></a>
                    </li>
                    <li class="phone"><a href="#"><i></i>手机版</a>
                    </li>
                    <li>|</li>
                    <li class="call"><a href="#"><i></i>国内热线:1010-6060</a>
                        <div><img src="images/telephone.png" alt=""></div>
                    </li>
                    <li>|</li>
                    <li><a href="#">在线客服</a></li>
                    <li><a href="#">合作中心<i></i></a><div>
                        <p><a href="#">广告合作</a></p>
                        <p><a href="#">广告合作</a></p>
                        <p><a href="#">广告合作</a></p>
                        <p><a href="#">广告合作</a></p>
                      </div>
                      </li>
                </ul>
            </div>
    </div>
    <div class="ad">
        <div class="ad-in">
            <img src="images/big-ad.jpg" alt="">
            <span></span>
        </div>
    </div>
    <div class="header">
        <div class="header-in clearfix">
            <div class="logo fl">
                <h1><a href="#"><img src="images/lv_logo.png" alt=""></a></h1>
            </div>
            <div class="search fl clearfix">
                <div class="search-city fl">
                    <b>上海</b>
                    <span>搜索</span>
                    <i></i>
                </div>
                <div class="search-box fr">
                    <div class="search-type ">
                        <b>全部</b>
                        <i></i>
                    </div>
                    <input type="text" placeholder="web前端工程师">
                    <div class="search-btn">
                        <i></i>
                        <span>搜索</span>
                    </div>
                </div>
            </div>
            <div class="tip fr">
                <a href="#"><img src="images/homeheadtip.png" alt=""></a>
            </div>
        </div>
    </div>
    <ul class="nav">
        <ul class="nav-in">
            <!-- <li><a href="#">首页</a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li>
            <li><a href="#">出境游<i></i></a></li> -->
 
        </ul>
        <div class="sub-nav">
            <p>
                <!-- <a href="#">出境</a>
                <a href="#">出境</a>
                <a href="#">出境</a>
                <a href="#">出境</a>
                <a href="#">出境</a>
                <a href="#">出境</a> -->
            </p>
            <i class="nav-arrow"></i>
        </div>
    </ul>
    <div class="banner">
        <div class="banner-box">
            <ul>
                <li style="opacity:1;"><a href="#"><img src="./images/banner1.jpg" alt=""></a></li>
                <li><a href="#"><img src="./images/banner2.jpg" alt=""></a></li>
            </ul>
        </div>
        <ol class="banner-number">
            <li class="active"></li>
            <li></li>
        </ol>
        <div class="banner-tab clearfix">
            <ul class="banner-tab-left fl">
                <li class="active"><a href="#">景点门票</a></li>
                <li><a href="#">景点门票</a></li>
                <li><a href="#">景点门票</a></li>
                <li><a href="#">景点门票</a></li>
                <li><a href="#">景点门票</a></li>
                <li><a href="#">景点门票</a></li>
                <li><a href="#">景点门票</a></li>
                <li><a href="#">景点门票</a></li>
            </ul>
            <div class="banner-tab-right fr">
                <div class="active">
                    <ul class="banner-tab-right-top">
                        <li class="active">
                            <a href="#">景点选择</a>
                            <p><i></i></p>
                        </li>
                        <li><a href="#">景点选择</a></li>
                    </ul>
                    <div class="banner-tab-right-bottom">
                        <input type="text" placeholder="请输入目的地">
                        <div><span>搜索</span></div>
                        <dl class="clearfix">
                            <dt class="fl">热搜景点</dt>
                            <dd class="fr">
                                <a href="#">水上乐园</a>
                                <span>|</span>
                                <a href="#">水上乐园</a>
                                <span>|</span>
                                <a href="#">水上乐园</a>
                                <span>|</span>
                                <a href="#">水上乐园</a>
                                <span>|</span>
                                <a href="#">水上乐园</a>
                                <span>|</span>
                                <a href="#">水上乐园</a>
                                <span>|</span>
                                <a href="#">水上乐园</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- <div class="seckill">
        <div class="seckill-in">
            
        </div>
    </div> -->

    <div class="section seckill">
        <div class="section-in">
            <div class="seckill">
                <div class="seckill-in">
                    <!-- <div class="seckill-top clearfix">
                        <ul class="seckill-tab fl">  
                            <li class="active"><a href="#">今日必抢</a></li>
                            <li><a href="#">今日必抢</a></li>
                            <li><a href="#">今日必抢</a></li>
                            <p><i></i></p>
                        </ul>
                        <a href="#" class="fr"><img src="./images/ad.jpg" alt=""></a>
        
                    </div>
                    <ul class="seckill-bottom active">
                        <li><a href="#">
                            <img src="./images/item.jpg" alt="">
                            <p><b>酒店套餐</b><span>|</span>前端工程师牛逼前端工程师牛逼前端工程师牛逼</p>
                            <div class="clearfix">
                                <p class="fl">$599</p><span>起</span>
                                <i class="fr">立即抢购</i>
                            </div>
                        </a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                    <ul class="seckill-bottom">
                        <li><a href="#">
                            <img src="./images/item.jpg" alt="">
                            <p><b>酒店套餐</b><span>|</span>前端工程师牛逼前端工程师牛逼前端工程师牛逼</p>
                            <div class="clearfix">
                                <p class="fl">$599</p><span>起</span>
                                <i class="fr">立即抢购</i>
                            </div>
                        </a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                    <ul class="seckill-bottom">
                        <li><a href="#">
                            <img src="./images/item.jpg" alt="">
                            <p><b>酒店套餐</b><span>|</span>前端工程师牛逼前端工程师牛逼前端工程师牛逼</p>
                            <div class="clearfix">
                                <p class="fl">$599</p><span>起</span>
                                <i class="fr">立即抢购</i>
                            </div>
                        </a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="section section2">
        <div class="section-in">
            <img src="./images/section2.png" alt="">
        </div>
    </div>
    <div class="section section3">
        <div class="section-in">
            <img src="./images/section3.png" alt="">
        </div>
    </div>
    <div class="section section4">
        <div class="section-in">
            <img src="./images/section4.png" alt="">
        </div>
    </div>
    <div class="section section5">
        <div class="section-in">
            <img src="./images/section5.png" alt="">
        </div>
    </div>
    <div class="section section6">
        <div class="section-in">
            <img src="./images/section6.png" alt="">
        </div>
    </div>
    <div class="section section7">
        <div class="section-in">
            <img src="./images/partners.png" alt=""><img src="./images/footertop.png" alt=""><img src="./images/footermiddle.png" alt=""><img src="./images/footerbottom.png" alt="">
        </div>
    </div>
    <ul class="nav-left">
        <li class="active"><h3>特卖</h3></li>
        <li><h3>出境</h3></li>
        <li><h3>国内</h3></li>
        <li><h3>周边</h3></li>
        <li><h3>门票</h3></li>
        <li><h3>酒店</h3></li>
        <li><h3>合作</h3></li>
    </ul>
    <div class="nav-right">
        <ul class="nav-right-top">
            <li><a href="#">
                <i></i>
                <s></s>
                <p>APP</p>
                <img src="./images/app.jpg" alt="">
            </a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <ul class="nav-right-bottom">
                <li class="nav-back"><a href="#">
                    <u></u>
                    <p>TOP</p>
                </a></li>
                <li class="nav-close"><a href="#">
                    <i>关闭</i>
                </a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
        </ul>
        <div class="lv-logo"></div>
    </div>
 










<script id="miaosha" type="text/html">  
            <div class="seckill-top clearfix">
                <ul class="seckill-tab fl">  
                    <%for(let i=0;i< miaosha.length;i++){%>
                        <%if(i===0){%>
                    <li class="active"><a href="#"><%=miaosha[i].title%></a></li>
                        <%}else{%>
                    <li><a href="#"><%=miaosha[i].title%></a></li>
                    <%}%>
                    <%}%>
                    <p><i></i></p>
                </ul>
                <a href="#" class="fr"><img src="./images/ad.jpg" alt=""></a>

            </div>
            <%for(let i=0;i< miaosha.length;i++){%>
            <%if(i===0){%>
            <ul class="seckill-bottom active">
            <%}else{%>
            <ul class="seckill-bottom">
                <%}%>

                <%for(let j=0;j< miaosha[i].list.length;j++){%>
                <li><a href="#">
                    <img src="<%=miaosha[i].list[j].img%>" alt="">
                    <p><b><%=miaosha[i].list[j].type%></b><span>|</span><%=miaosha[i].list[j].des%></p>
                    <div class="clearfix">
                        <p class="fl"><%=miaosha[i].list[j].price%></p><span>起</span>
                        <i class="fr">立即抢购</i>
                    </div>
                </a></li>
                <%}%>
            </ul>
            <%}%>
            
</script>

<script id="test" type="text/html">
    <div>
        <p>可选城市列表</p>
        <% for(let i=0;i< cities.length;i++){ %>
        <dl class="clearfix">
            <dt class="fl"><%=cities[i].area%></dt>
            <dd class="fl">
                <% for(let j=0;j< cities[i].list.length;j++){ %>
                <a href="#"><%=cities[i].list[j]%></a>
                <% } %>
            </dd>
        </dl>
        <% } %>
    </div>
</script>
</body>
</html>
