<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>蘑菇街</title>
    <link rel="stylesheet" href="favicon.ico">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/tools.js"></script>
    <script src="js/clamp.js"></script>
    <script src="js/animation.js"></script>
    <script src="js/template-web.js"></script>
</head>
<body>
    <div class="nav">
        <div class="nav-top">
            <div class="nav-in clearfix">
                <ul class="fr">
                    <li><a href="#"><i class="iconfont icon-xiazai45"></i>首页</a></li> 
                    <li>|</li>
                    <li><a href="#"><i class="iconfont icon-icon-test"></i>商城</a></li>
                    <li>|</li>
                    <li><a href="#">我的订单</a></li>
                    <li>|</li>
                    <li><a href="#">关于我们<i class="iconfont icon-huaban"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="nav-bottom">
            <div class="nav-in">
                <h1><a href="#"><img src="images/logo.png" alt=""></a></h1>
                <div class="menu">
                    <i class="iconfont icon-caidan"></i>
                    目录
                </div>
                <div class="search">
                    <form action="">
                        <input type="text" placeholder="半身裙">
                        <input type="submit" value="">
                    </form>
                </div>
                <ul class="list">
                    <li><a href="#"><i class="iconfont icon-weixin"></i><p>消息</p></a></li>
                    <li><a href="#"><i class="iconfont icon-xingxing"></i><p>收藏</p></a></li>
                    <li><a href="#"><i class="iconfont icon-gouwuchekong"></i><p>购物车</p></a></li>
                    <li><a href="#"><i class="iconfont icon-ico"></i><p>下载app</p></a></li>
                </ul>
                <div class="login">
                    <a href="#"><i></i>登录</a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav nav2">
        <div class="nav-bottom">
            <div class="nav-in">
                <h1><a href="#"><img src="images/logo.png" alt=""></a></h1>
                <div class="menu">
                    <i class="iconfont icon-caidan"></i>
                    目录
                </div>
                <div class="search">
                    <form action="">
                        <input type="text" placeholder="半身裙">
                        <input type="submit" value="">
                    </form>
                </div>
                <ul class="list">
                    <li><a href="#"><i class="iconfont icon-weixin"></i><p>消息</p></a></li>
                    <li><a href="#"><i class="iconfont icon-xingxing"></i><p>收藏</p></a></li>
                    <li><a href="#"><i class="iconfont icon-gouwuchekong"></i><p>购物车</p></a></li>
                    <li><a href="#"><i class="iconfont icon-ico"></i><p>下载app</p></a></li>
                </ul>
                <div class="login">
                    <a href="#"><i></i>登录</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-in">

            <!-- <div class="banner">
                <img src="images/banner.jpg" alt="">
            </div>
            <div class="category">
                    <ul class="category-top">
                        <li><a href="#">上衣</a></li>
                        <li><a href="#">上衣</a></li>
                        <li><a href="#">上衣</a></li>
                        <li><a href="#">上衣</a></li>
                        <li><a href="#">上衣</a></li>
                        <li><a href="#">上衣</a></li>
                        <li><a href="#">上衣</a></li>
                        <li><a href="#">上衣</a></li>
                        <li><a href="#">上衣</a></li>
                        <li><a href="#">上衣</a></li>
                        <li><a href="#">上衣</a></li>
                        <li><a href="#">上衣</a></li>
                    </ul>
                    <ul class="category-bottom"> 
                        <li><a href="#">精品套装</a></li>
                        <li><a href="#">精品套装</a></li>
                        <li><a href="#">精品套装</a></li>
                        <li><a href="#">精品套装</a></li>
                        <li><a href="#">精品套装</a></li>
                        <li><a href="#">精品套装</a></li>
                        <li><a href="#">精品套装</a></li>
                        <li><a href="#">精品套装</a></li>
                        <li><a href="#">精品套装</a></li>
                        <li><a href="#">精品套装</a></li>
                    </ul>
            </div> -->

            <!-- <div class="item">
                <div class="item-box">
                    <div class="item-top">
                        <img src="images/test.jpg" alt="">
                        <div class="play"><img src="images/play.png" alt=""></div>
                        <div class="title">
                            <img src="images/sold.png" alt="">
                            两件商品
                        </div>
                        <div class="mask">
                            <ul>
                                <li>
                                    <span>446</span>
                                </li>
                                <li></li>
                            </ul>
                            <div class="mask-info">
                                <div class="mask-info-title">
                                    <img src="images/sold.png" alt="">
                                    1件商品
                                </div>
                                <div class="mask-info-des">
                                    #不止爱你三千遍#“人鱼姬”这个词在这两年突然风靡起来人鱼姬眼影人鱼姬腮红人鱼姬口红等等一直在找好看的人鱼姬面料给你做成衣服出来当时看到这个面料的时候再一次被惊喜到而且颜色太太美了版型优xiu满fen穿过我家类似版型的吊带裙的宝宝应该都知道的啦按喜欢的码数直接入手就对了胸前细条压褶加小卷边设计透出满满的小女人甜感这件裙子谁穿谁美不骗人对于小个子的宝宝这条裙子简直是宝藏连衣裙
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-bottom">
                        <span>
                            H&M
                        </span>
                       
                    </div>
                </div>
          
            </div> -->
        </div>`
    </div>
    <div class="footer">
        <div class="footer-in">
            <!-- <div class="footer-logo">
                <img src="images/footer-logo.png" alt="">
            </div>
            <div class="footer-helper clearfix">
                <dl>
                    <dt><a href="#">web大神</a></dt>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">web大神</a></dt>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">web大神</a></dt>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">web大神</a></dt>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                    <dd><a href="#">web最强</a></dd>
                </dl>
        </div>
        <ul class="footer-list">
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
        </ul>
        <div class="footer-line">
            <span>关于Web我原称之为最强</span>
        </div>
        <div class="footer-bottom">
            <p>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
            </p>
            <p>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
                <a href="#">关于Web我原称之为最强</a><span>|</span>
            </p> -->
            
        </div>
    </div>
    <div class="back">
        <i class="iconfont icon-dingbu"></i>
        <p>返回顶部</p>
    </div>

    



<script id="exmp" type="text/html">
    <div class="footer-logo">
                <img src="images/footer-logo.png" alt="">
            </div>
            <div class="footer-helper clearfix">
                <% for(let i=0;i< cols.length;i++){ %>
                <dl>
                <% for(let j=0;j< cols[i].length;j++){ %>
                   <% if(cols[i][j].isHeader===true){ %>
                    <dt><a href="#"><%=cols[i][j].title%></a></dt>
                    <% }else{ %>
                    <dd><a href="<%=cols[i][j].link%>"><%=cols[i][j].title%></a></dd>
                    <% } %>
                <%}%>
                </dl>
                <%}%>
                
        </div>
        <ul class="footer-list">
            <% for(let i=0;i< list.length;i++){ %>
            <li><a href="#"><%=list[i].title%></a></li>
            <% if(i!==list.length-1){ %>
            <li>|</li>
            <% } %>
            <% } %>
        </ul>
        <div class="footer-line">
            <span><%=line.title%></span>
        </div>
        <div class="footer-bottom">
            <% for(let i=0;i< copyright1.length;i++){ %>
            <p>
                <% for(let j=0;j< copyright1[i].length;j++){ %>
                <a href="#"><%=copyright1[i][j].title%></a>
                <% if(j!==copyright1[i].length-1){ %>
                <span>|</span>
                <% } %>
                <% } %>
            </p>
            <% } %>

</script>

<script id="demo" type="text/html">
    <div class="banner">
        <img src="images/banner.jpg" alt="">
    </div>

    <div class="category">
        <ul class="category-top">
            <% for(let i=0;i< cateList.length;i++){ %>
                <li style="background:url('<%=cateList[i].cateIcon%>');background-size: 112px 112px"><a href="<%=cateList[i].link%>"><%=cateList[i].cateName%></a></li>
            <% } %>
        </ul>
        <ul class="category-bottom"> 
            <% for(let i=0;i< wordList.length;i++){ %>
                <li><a href="<%=wordList[i].link%>"><%=wordList[i].word%></a></li>
            <% } %>
            </ul>
    </div>
</script>

<script id="test" type="text/html">   
   <% for(let i=0;i< list.length;i++){ %>
    <% if(i===2||i===3||i===4){ %>
        <div class="item" style="width:220px;height:1160px"></div>
    <% }else{ %>
    <div class="item">
        <div class="item-box">
            <div class="item-top">
                <% let scale=list[i].originW / list[i].originH %>
                <% let imgHeight=220 /scale %>
                <img src="<%=list[i].cover %>" style="width:220px;height:<%=imgHeight%>px">

                <div class="play">
                    <% if(list[i].isVideo===true){ %>
                    <img src="images/play.png" alt="">
                    <%}%>
                </div>
                <div class="title">
                    <img src="images/sold.png" alt="">
                    <%=list[i].itemNumbers%>件商品
                </div>
                <div class="mask">
                    <ul>
                        <li>
                            <span><%=list[i].cFav%></span>
                        </li>
                        <li></li>
                    </ul>
                    <div class="mask-info">
                        <div class="mask-info-title">
                            <img src="images/sold.png" alt="">
                            <%=list[i].itemNumbers%>件商品
                        </div>
                        <div class="mask-info-des">
                            <%=list[i].content%>
                        </div>
                    </div>
                </div>
            </div>
      
                 <% if(list[i].brandInfo.length!==0){ %>
            <div class="item-bottom clearfix"> 
                        <% for(let j=0;j< list[i].brandInfo.length;j++) { %>
                                <a href="#">
                                    <img src="<%=list[i].brandInfo[j].brandLogo %>" alt="">
                                    <%=list[i].brandInfo[j].brandName %>

                                </a>

                        <% } %>
            </div>

            <%}%>
        </div>
  
    </div>
    <% } %>
    <% } %>
</script>


<script src="js/index.js"></script>
</body>
</html>